.header {
	background-color: purple;
	height: 50px;

	display: flex;
	align-items: center;
}

.headerButton {
	background-color: cyan;
	height: 30px;
	width: 100px;
	margin: 0px 10px;
}

#longer {
	width: 150px;
}

.container {
	display: flex;
}

.main {
	background-color: yellow;
	height: 500px;
	flex-grow: 4;
}

.panel {
	background-color: lime;
	height: 500px;
	flex-grow: 1;
}