main {
	font-family: "Baloo Bhai 2", cursive;
	font-weight: bold;
	color: white;
	text-align: center;

	border: 5px solid royalblue;
	width: 150px;
}

p {
	margin: 0px;
	padding: 15px 20px;
}

#north {
	background: lightcoral;
}

#east {
	background: khaki;
}

#south {
	background: powderblue;
}

#west {
	background: cornflowerblue;
}