.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;

	width: 300px;
}

.container div {
	width: 150px;
	height: 150px;
}

.itemGreen {
	background-color: #51d400;
}

.itemYellow {
	background-color: #ffd62a;
}

.itemPurple {
	background-color: #b02afe;
}